@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins-Regular.ttf') format('truetype');
 }

 @font-face {
    font-family: 'poppins-bold';
    src: url('../font/Poppins-Bold.ttf') format('truetype');
 }

@font-face {
    font-family: 'jejuhallasan';
    src: url('../font/JejuHallasan-Regular.ttf') format('truetype');
}

.btn1{
    background-color: rgba(red, green, blue, alpha);
}

.btn1:hover{
    background-color: #e6e0ca;
    color: white;
    border: none;
}

.hamburger{
    width: 25px;
    height: 4px;
    background-color: darkslategray;
    margin: 5px 0;
    border-radius: 10px;
}

.offcanvas {
    height: 380px;
    width: 350px;
    border-radius: 20px;
}
  
.offcanvas-start {
    max-width: 350px;
}
  
.offcanvas .btn-close {
    position: absolute; 
    top: 20px;
    left: 20px;
}

.navbar-nav{
    font-family: 'poppins';
}

.nav-link:hover{ 
   background-color: rgb(230, 230, 230);
}

.ip{
    font-family: 'jejuhallasan';
}

.by{
    font-family: 'poppins';
}

body{
    background-color: #FFF9DE;
}

h1{
    font-family: 'jejuhallasan';
    font-size: calc(36px + 1vw);
    color: black;
}

.narrator{
    color: black;
    font-family: 'poppins';  
    font-size: calc(12px + 1vw);
    text-align: center;
    margin: 30px 0;
}

.img-fluid{
    border-radius: 10px;
    margin: 5px 0;
}

.dialogue-text{  
    position: absolute;
    top:50%;
    left: 28%;
    transform: translate(0,-50%);
    color: white;
    font-size: calc(22px + 1vw);
    font-family: 'jejuhallasan';
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.dialogue-text2{  
    position: absolute;
    top:50%;
    left: 28%;
    transform: translate(0,-50%);
    color: white;
    font-size: calc(19px + 1vw);
    font-family: 'jejuhallasan';
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.dialogue-text3{  
    position: absolute;
    top:50%;
    left: 27%;
    transform: translate(0,-50%);
    color: white;
    font-size: calc(18px + 1vw);
    font-family: 'jejuhallasan';
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.dialogue-text4{  
    position: absolute;
    top:50%;
    left: 28%;
    transform: translate(0,-50%);
    color: white;
    font-size: calc(18px + 1vw);
    font-family: 'jejuhallasan';
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.dialogue-panel{
    position: relative;
}

.button{
    display: inline-block;
    border-radius: 50px;
    background-color: #BED7DC;
    color: #000000;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'jejuhallasan';
    font-size: calc(20px + 1vw);
    width: 300px;
    padding: 10px 0;
    margin: 0 20px;
}

h3{
    font-family: 'poppins';
    text-decoration-line: overline underline;
    margin: 70px 0;
    font-size: calc(25px + 1vw);
}

.accordion-button{
    background-color: #BED7DC;
    font-family: 'poppins';
}

.accordion-button:not(.collapsed){
    background-color: #a4b9bd;
}

.accordion-body{
    background-color: #FFF9DE;
}


@media only screen and (max-width: 600px) {
    .dialogue-text {
        font-size: calc(13px + 1vw);
    }
    .dialogue-text2{
        font-size: calc(11px + 1vw);
    }
    .dialogue-text3{
        font-size: calc(9px + 1vw);
    }
    .dialogue-text4{
        font-size: calc(8px + 1vw);
    }
    .button{
        font-size: calc(12px + 1vw);
    }
    h3{
        font-size: calc(20px + 1vw);
        margin: 50px 0;
    }
    
  }